<h3>貸家登録</h3>
 
 <%= form_with model: @room do |f| %>
   <table>
     <tr>
       <th><%= f.label :image ,"画像" %></th>
       <td><%= f.file_field :image %></td>
     </tr>

     <tr>
       <th><%= f.label :title ,"タイトル" %></th>
       <td><%= f.text_field :title %></td>
     </tr>
 
     <tr>
       <th><%= f.label :place ,"住所" %></th>
       <td><%= f.text_area :place %></td>
     </tr>
 
     <tr>
       <th><%= f.label :content ,"内容" %></th>
       <td><%= f.text_area :content %></td>
     </tr>

     <tr>
       <th><%= f.label :price ,"料金" %></th>
       <td>¥<%= f.text_field :price %>/日</td>
     </tr>
   </table>
 
   <div>
     <ul>
       <li><%= f.submit "登録完了する"%></li>
       <li><%= link_to "貸家一覧", :rooms %></li>
     </ul>
   </div>
 <% end %>