<!DOCTYPE html>
<html>
  <head>
    <title>Travel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_top">
        <a href="/tops/top">
          <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png" alt="サイトのロゴ">
        </a>
        <div class="header_button">
          <% if user_signed_in? %>
            <%= button_to 'プロフィール', '/users/show', method: :get %>
            <%= button_to '予約一覧', '/reservations', method: :get %>
            <%= button_to '貸家一覧', '/rooms', method: :get %>
            <%= button_to 'ログアウト', destroy_user_session_path,class: 'dropdown-item',method: :delete%>
          <% else %>
            <%= button_to 'ログイン', '/users/sign_in', method: :get %>
            <%= button_to '登録する', '/users/sign_up', method: :get %>
          <% end %>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p>© 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
